.fix-w-25 {
    width: 25px;
}

.fix-w-34 {
    width: 34px;
}

.fix-w-50 {
    min-width: 50px;
    max-width: 50px;
}

.fix-w-53 {
    width: 53px;
}

.fix-w-70 {
    min-width: 70px;
    max-width: 70px;
}

.fix-w-80 {
    width: 80px;
}

.fix-w-85 {
    min-width: 85px;
    max-width: 85px;
}

.fix-w-92 {
    min-width: 92px;
    max-width: 92px;
}

.fix-w-93 {
    width: 93px;
}

.fix-w-100 {
    min-width: 100px;
    max-width: 100px;
}

.fix-w-150 {
    min-width: 150px;
    max-width: 150px;
}

.fix-w-200 {
    min-width: 200px;
    max-width: 200px;
}

.fix-w-250 {
    min-width: 250px;
    max-width: 250px;
}

.fix-button-w-120 {
    max-width: 120px;
    min-width: 120px;
}

.fix-w-300 {
    min-width: 300px;
}

.fix-w-610 {
    min-width: 610px;
    max-width: 610px;
}

.fix-w-645 {
   min-width: 645px;
   max-width: 645px;
}